body {font-family: Arial, Helvetica, sans-serif;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content  {
  background-color: var(--color-primary);
  background-image: url("../../images/success-background.svg");
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 85%;
  height: 85%;
  color: white;
  cursor: pointer;


}

.modal-content-body{
  
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.modal-content .modal-header{

}

.modal-content p {
  /* font-size: 700 solid Archivo; */
  font-size: 6.5rem;
  align-self: center;
  justify-self: center;
 
}

.modal-content h5 {
  font-weight: 500;
  font-size: 500 solid Archivo;
  align-items: center;
  justify-content: center;
}

.successLogo {

  background-image: url("../../images/icons/success-check-icon.svg");
  height: 20%;
  width: 20%;


  background-repeat: no-repeat;
}

/* The Close Button */
.close {
  
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}


.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@media(max-width: 560px){

  .modal-content p {
    /* font-size: 700 solid Archivo; */
    font-size: 3.5rem;
    align-self: center;
    justify-self: center;
   
  }
  
  .modal-content h5 {

    font-weight: 500;
    font-size: .9rem;
    align-items: center;
    justify-content: center;
  }
  
  .successLogo {
  
    background-image: url("../../images/icons/success-check-icon.svg");
    margin-left: 0;
    background-repeat: no-repeat;
  }
  
}